[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
sqlalchemy = "*"
gettext-windows = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
isort = "*"
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
