Source: human-activities
Section: utils
Priority: optional
Maintainer: Jakub Valenta <jakub@jakubvalenta.cz>
Build-Depends: debhelper (>= 9.20160709~),
               dh-python,
               python3-all,
               python3-setuptools,
               tox
Standards-Version: 3.9.8
Homepage: https://lab.saloun.cz/jakub/human-activities
X-Python3-Version: >= 3.6
Vcs-Git: https://lab.saloun.cz/jakub/human-activities.git
Vcs-Browser: https://lab.saloun.cz/jakub/human-activities

Package: human-activities
Architecture: all
Depends: gir1.2-appindicator3-0.1,
         python3-pil,
         python3-sqlalchemy,
         ${python3:Depends},
         ${misc:Depends}
Description: monitor size of directories
 Human Activities is an application that displays a pie chart icon in the System
 Tray using GTK+ AppIndicator. The icon shows ratio between the
 size of configured directories. When clicked, a menu with a list of the
 directories and their exact size in bytes appears.
 .
 The application can be configured to compare number of files instead of size of
 directories. It can also be configured to only count files that are newer than
 specified number of days.
