Source: lidske-aktivity
Section: unknown
Priority: optional
Maintainer: Jakub Valenta <jakub@jakubvalenta.cz>
Build-Depends: debhelper (>= 9.20160709~),
               dh-python,
               python3-all,
               python3-setuptools,
               tox
Standards-Version: 3.9.8
Homepage: https://lab.saloun.cz/jakub/art-lidske-aktivity-gtk
X-Python3-Version: >= 3.6
Vcs-Git: https://lab.saloun.cz/jakub/art-lidske-aktivity-gtk.git
Vcs-Browser: https://lab.saloun.cz/jakub/art-lidske-aktivity-gtk

Package: lidske-aktivity
Architecture: all
Depends: gir1.2-appindicator3-0.1,
         python3-pil,
         python3-sqlalchemy,
         ${python3:Depends},
         ${misc:Depends}
Description: Lidské Aktivity
