[Desktop Entry]
Version=1.0
Name=Lidské aktivity
Comment=Description of Lidské aktivity
Exec=/usr/bin/lidske-aktivity
Icon=lidske-aktivity
StartupNotify=true
Type=Application
Categories=Utility;FileTools;
Keywords=filesystem;directory;disk;usage;tray;system tray;applet;
