[Desktop Entry]
Version=1.0
Name=Lidské Aktivity
Comment=Description of Lidské Aktivity
Exec=/usr/bin/lidske-aktivity --interval=0
Icon=lidske-aktivity
StartupNotify=true
Type=Application
Categories=Utility;FileTools;
Keywords=filesystem;directory;disk;usage;tray;system tray;applet;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
